<div id="header-navigation">
    <div id="header-navigation-links" class="content">
        <div id="header-navigation-pages">
            <a href="">About</a>
            <a href="">Contact us</a>
            <a href="">Blog</a>
        </div>
        <div id="header-navigation-social">
            <a href="">1</a>
            <a href="">2</a>
            <a href="">3</a>
        </div>
    </div>
</div>