<header>
  <div id="header-navigation">
    <div id="header-navigation-links" class="content closed">
      <button id="hamburger" onclick="collapse()"><img src="../img/hamburger.png" alt=""></button>
      <div id="header-navigation-pages">
        <a href="../">Home</a>
        <a href="../blog">Blog</a>
        <a href="../about">About</a>
        <% if (user.isAdmin) { %>
          <a href="/admin">Admin</a>
          <% } %>
            <!-- <a href="../contact">Contact us</a> -->
      </div>
      <div id="header-navigation-login">
        <% if (user.isLoggedIn) { %>
          <a href="">Hi <%- user.username %></a>
          <a href="../auth/logout">Log Out</a>
          <% } else { %>
            <a href="../login">Sign in</a>
            <a href="../registration">Sign up</a>
            <% } %>
      </div>
    </div>
  </div>
</header>

<script>
  function collapse() {
    const header = document.getElementById("header-navigation-links");
    header.classList.toggle("closed");
  }
</script>