html, body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    padding: 0 1rem;
    max-width: 1200px;
    margin: auto;
}

.content.body-content {
    margin: 3rem auto;
    justify-content: center;
    min-height: calc(100vh - 300px);
}

.flex {
    display: flex;
    gap: 20px;
}

.vertical {
    flex-direction: column;
}

.flex .wrap {
    flex-wrap: wrap;
}

.body-content > * {
    padding-bottom: 1.6rem;
    /* padding: 0; */
    margin: 0;
}

.body-content .flex:first-child {
    width: 80%;
}


@media screen and (max-width: 700px) {
    .mobile-disabled {
        display: none !important;
    }
    .body-content .flex:first-child {
        width: 100%;
    }
    
}