<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head')%>

    <body>
        <header>
            <%- include('../partials/header')%>
        </header>
        <div class="content body-content">
            <div class="card">
                <div class="card-body">
                    <form action="/auth/forgot_password" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" name="email">
                            <div class="invalid-feedback">Please enter a valid email address.</div>
                            <div class="valid-feedback">Looks good!</div>
                        </div>
                        <button type="submit" class="btn btn-primary" disabled>Reset Password</button>
                    </form>
                </div>
            </div>
            <%- include('../partials/alert')%>
        </div>

        <%- include('../partials/footer')%>

            <script>
                const emailInput = document.getElementById('email');
                const submitButton = document.querySelector('button[type="submit"]');

                const pattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

                function validateInput(input, pattern) {
                    return pattern.test(input.value);
                }

                function checkInputs() {
                    const isEmailValid = validateInput(emailInput, pattern);

                    emailInput.classList.toggle('is-valid', isEmailValid);
                    emailInput.classList.toggle('is-invalid', !isEmailValid);

                    submitButton.disabled = !isEmailValid;
                }

                emailInput.addEventListener('input', checkInputs);

            </script>
    </body>

</html>
