<!DOCTYPE html>
<html lang="en">

<%- include('../../partials/head')%>

  <body>
    <header>
      <%- include('../../partials/header')%>
    </header>
    <div class="content body-content">

      <a class="btn btn-primary" href="/admin/users" role="button">Users</a>
      <a class="btn btn-primary" href="/admin/posts" role="button">Posts</a>
      <a class="btn btn-primary" href="/admin/comments" role="button">Comments</a>

    </div>

    <%- include('../../partials/footer')%>

  </body>

</html>